header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffcc00;
}

#movieIndexInfo {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#getMovie {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#getMovie:hover {
    background-color: #0056b3;
}


#movieInfo {
    background-color: #231f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

#movieInfo img {
    width: 40%;
    height: 50%;
    border-radius: 5px;
    margin-bottom: 15px;
}

#movieInfo h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #f5c4c4;
}

#movieInfo p {
    font-size: 16px;
    color: #8d8080;
    margin-bottom: 10px;
}

#movieInfo ul {
    list-style: none;
    padding: 0;
}

#movieInfo ul li {
    font-size: 14px;
    color: #958585;
}

#movieInfo ul li:before {
    content: '\2022';
    color: #007bff;
    margin-right: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}