


#movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: #171515;
}

.movieCard {
    width: 250px;
    background-color: #171515;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.movieCard:hover {
    transform: scale(1.05);
}

.movieCard img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

 p {
    font-size: 14px;
    color: #f3efef;
    margin-bottom: 10px;
}


#myInput {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#myInput:focus {
    border-color: #007bff;
    outline: none;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffcc00;
}

#myInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#myInput:focus {
    border-color: #007bff;
    outline: none;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

h3{
    color: #fff;
}

#overviewContent {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    padding: 10px;
    background-color: #0d0a0a;
    border: 1px solid #ebdede;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}


#pageContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #502626;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}